
<h1>Listing books</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
    </tr>
  <% end %>
</table>
<br><br>

<%= link_to 'Add a new book', new_book_path %>