<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
 

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>
 

<p>
  <strong>ISBN:</strong>
  <%= @book.ISBN %>
</p>
 

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>



<%= link_to 'Back', books_path %>
